<div class="">

</div>

<h2>Welcome <%= @user.email %></h2>

<div class="container">
  <div class="col-md-12">
    <div class="col-md-3 profilebox bordered">
      <%= render 'partials/editprofile' %>
    </div>
    <div class="col-md-3">
      <%= link_to "Back", :back, class: 'btn btn-default' %>
    </div>
  </div>
</div>
