<!-- displays all the messages in which the user is apart of, and also a list of users to message -->
<div class=" container containerstyling">
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-2">Users to message</th>
        <th class ="col-md-4">Inbox</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <% @conversations.each do |conversation| %>
      <tr>
        <% if user.id != current_user.id %>
         <td>
           <%= user.email %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        </td>
          <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
          <% end %>
        <td><%= link_to recipient.email, conversation_messages_path(conversation)%></td>
       <% end %>
       <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>

</div>
