// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.debatecard {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}


.debateimage {
  height: 180px;
  width:180px;
}

.debateimage2 {
  height: 100px;
  width:100px;
}

.pro {

  background: #447AE1;
  background-color: #447AE1;
}

.con {
  background: #E85657;
  background-color: #E85657;
}

.debatetable {
  height: 100px;

}
